<mat-toolbar
  style="height: 7vh; position: fixed;"
  [color]="theme === false ? 'primary' : 'warn'"
>
  <button
    mat-icon-button
    (click) = "onNavigate()"
  >
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
    type="button"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div mat-menu-item>
      <mat-slide-toggle
        class="custom-class"
        (click)="$event.stopPropagation(); onClick()"
        ><mat-icon>nightlight_round</mat-icon></mat-slide-toggle
      >
    </div>
  </mat-menu>
</mat-toolbar>
