<mat-toolbar
  style="height: 7vh; position: fixed"
  [color]="theme === false ? 'primary' : 'warn'"
>
  <button id="home" mat-icon-button (click)="onNavigate()">
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    id="setting"
    [matMenuTriggerFor]="menu"
    type="button"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu id="menu" #menu="matMenu">
    <div mat-menu-item id="switch">
      <mat-slide-toggle
        class="custom-class"
        (click)="$event.stopPropagation(); onClick()"
        ><mat-icon>nightlight_round</mat-icon></mat-slide-toggle
      >
    </div>
  </mat-menu>
</mat-toolbar>
